# --- Android ---
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Go Server ---
# Игнорируем скомпилированные бинарники
ramka-relay
*.exe
*.dll
*.so
*.dylib

# Игнорируем сертификаты и конфиги с секретами
*.pem
*.key
*.crt
config.json 
# (Если хочешь выложить пример конфига, назови его config.example.json и добавь его в git)

# --- Общие ---
*.log
.env